@smRadioBtnSize: 1.5em;
@mdRadioBtnSize: 2em;
@lgRadioBtnSize: 2.5em;
@xlRadioBtnSize: 3.5em;

@radioBtnMargin: 0 .5em 0 .5em;
// background color
@radioBackgroundColorDefault: #D9D9D9;
@radioBorderColor: #434343;
@radioBackgroundColorHovered: #434343;
@radioBackgroundColorClicked: #434343;


@colorUOttawa: #a9343a;

// border
@radioBorderDefault: 2px solid @radioBorderColor;

// assessment side button
@bgColorCommitment: #633C99;
@bgColorExpertise: #5BBE79;
@bgColorResources: #68C0E9;
@bgColorDesign: #F250A7;
@bgColorDevelopment: #A8D46F;
@bgColorDelivery: #F8AD56;
@bgColorEvaluation: #4D93C9;

.assessment-question-label {
  margin: @radioBtnMargin
}

input[type="radio"] {
  margin: @radioBtnMargin !important;
}

.radio-questions input[type="radio"] {
  display: inline-block !important;
  border: @radioBorderDefault !important;
  width: @lgRadioBtnSize !important;
  height: @lgRadioBtnSize !important;
  vertical-align: bottom;
  &:hover {
    background-color: @radioBackgroundColorHovered !important;
  }
  &:checked {
    background-color: @radioBackgroundColorClicked !important;
    background: @radioBackgroundColorClicked !important;
  }
}


// input[type="radio"][id^='scoring'] {
//   width: @lgRadioBtnSize !important;
//   height: @lgRadioBtnSize !important;
//   vertical-align: bottom;
// }

.btn-side-nav {
  width : 130px !important;
  // width: 100%
}

#Commitment {
  // background-color: @bgColorCommitment;
  // color: whitesmoke;
  border: 1px solid black;
  border-color: @bgColorCommitment !important;
  background-color: whitesmoke !important;
  color : @bgColorCommitment !important;
  &:hover {
    background-color: @bgColorCommitment !important;
    color : whitesmoke !important;
  }
  &:focus {
    background-color: @bgColorCommitment !important;
    color : whitesmoke !important;
  }
}

#Expertise {
  // background-color: @bgColorExpertise;
  // color: whitesmoke;
  border: 1px solid black;
  border-color: @bgColorExpertise !important;
  background-color: whitesmoke !important;
  color : @bgColorExpertise !important;
  &:hover {
    background-color: @bgColorExpertise !important;
    color : whitesmoke !important;
  }
  &:focus {
    background-color: @bgColorExpertise !important;
    color : whitesmoke !important;
  }
}

#Resources {
  // background-color: @bgColorResources;
  // color: whitesmoke;
  border: 1px solid black;
  border-color: @bgColorResources !important;
  background-color: whitesmoke !important;
  color : @bgColorResources !important;
  &:hover {
    background-color: @bgColorResources !important;
    color : whitesmoke !important;
  }
  &:focus {
    background-color: @bgColorResources !important;
    color : whitesmoke !important;
  }
}

#Design {
  // background-color: @bgColorDesign;
  // color: whitesmoke;
  border: 1px solid black;
  border-color: @bgColorDesign !important;
  background-color: whitesmoke !important;
  color : @bgColorDesign !important;
  &:hover {
    background-color: @bgColorDesign !important;
    color : whitesmoke !important;
  }
  &:focus {
    background-color: @bgColorDesign !important;
    color : whitesmoke !important;
  }
}

#Development {
  // background-color: @bgColorDevelopment;
  // color: whitesmoke;
  border: 1px solid black;
  border-color: @bgColorDevelopment !important;
  background-color: whitesmoke !important;
  color : @bgColorDevelopment !important;
  &:hover {
    background-color: @bgColorDevelopment !important;
    color : whitesmoke !important;
  }
  &:focus {
    background-color: @bgColorDevelopment !important;
    color : whitesmoke !important;
  }
}

#Delivery {
  // background-color: @bgColorDelivery;
  // color: whitesmoke;
  border: 1px solid black;
  border-color: @bgColorDelivery !important;
  background-color: whitesmoke !important;
  color : @bgColorDelivery !important;
  &:hover {
    background-color: @bgColorDelivery !important;
    color : whitesmoke !important;
  }
  &:focus {
    background-color: @bgColorDelivery !important;
    color : whitesmoke !important;
  }
}

#Evaluation {
  // background-color: @bgColorEvaluation;
  // color: whitesmoke;
  border: 1px solid black;
  border-color: @bgColorEvaluation !important;
  background-color: whitesmoke !important;
  color : @bgColorEvaluation !important;
  &:hover {
    background-color: @bgColorEvaluation !important;
    color : whitesmoke !important;
  }
  &:focus {
    background-color: @bgColorEvaluation !important;
    color : whitesmoke !important;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.answered {
  opacity: 30%;
}

.btn-user-response {
  border: 2px solid black;
  border-color: @colorUOttawa !important;
  background-color: white !important;
  color : @colorUOttawa !important;
  &:hover {
    background-color: @colorUOttawa !important;
    color : white !important;
  }
  &:active {
    background-color: @colorUOttawa !important;
    color : white !important;
  }
}

.btn-open-instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}