.assessment-question-label {
  margin: 0 0.5em 0 0.5em;
}
input[type="radio"] {
  margin: 0 0.5em 0 0.5em !important;
}
.radio-questions input[type="radio"] {
  display: inline-block !important;
  border: 2px solid #434343 !important;
  width: 2.5em !important;
  height: 2.5em !important;
  vertical-align: bottom;
}
.radio-questions input[type="radio"]:hover {
  background-color: #434343 !important;
}
.radio-questions input[type="radio"]:checked {
  background-color: #434343 !important;
  background: #434343 !important;
}
.btn-side-nav {
  width: 130px !important;
}
#Commitment {
  border: 1px solid black;
  border-color: #633C99 !important;
  background-color: whitesmoke !important;
  color: #633C99 !important;
}
#Commitment:hover {
  background-color: #633C99 !important;
  color: whitesmoke !important;
}
#Commitment:focus {
  background-color: #633C99 !important;
  color: whitesmoke !important;
}
#Expertise {
  border: 1px solid black;
  border-color: #5BBE79 !important;
  background-color: whitesmoke !important;
  color: #5BBE79 !important;
}
#Expertise:hover {
  background-color: #5BBE79 !important;
  color: whitesmoke !important;
}
#Expertise:focus {
  background-color: #5BBE79 !important;
  color: whitesmoke !important;
}
#Resources {
  border: 1px solid black;
  border-color: #68C0E9 !important;
  background-color: whitesmoke !important;
  color: #68C0E9 !important;
}
#Resources:hover {
  background-color: #68C0E9 !important;
  color: whitesmoke !important;
}
#Resources:focus {
  background-color: #68C0E9 !important;
  color: whitesmoke !important;
}
#Design {
  border: 1px solid black;
  border-color: #F250A7 !important;
  background-color: whitesmoke !important;
  color: #F250A7 !important;
}
#Design:hover {
  background-color: #F250A7 !important;
  color: whitesmoke !important;
}
#Design:focus {
  background-color: #F250A7 !important;
  color: whitesmoke !important;
}
#Development {
  border: 1px solid black;
  border-color: #A8D46F !important;
  background-color: whitesmoke !important;
  color: #A8D46F !important;
}
#Development:hover {
  background-color: #A8D46F !important;
  color: whitesmoke !important;
}
#Development:focus {
  background-color: #A8D46F !important;
  color: whitesmoke !important;
}
#Delivery {
  border: 1px solid black;
  border-color: #F8AD56 !important;
  background-color: whitesmoke !important;
  color: #F8AD56 !important;
}
#Delivery:hover {
  background-color: #F8AD56 !important;
  color: whitesmoke !important;
}
#Delivery:focus {
  background-color: #F8AD56 !important;
  color: whitesmoke !important;
}
#Evaluation {
  border: 1px solid black;
  border-color: #4D93C9 !important;
  background-color: whitesmoke !important;
  color: #4D93C9 !important;
}
#Evaluation:hover {
  background-color: #4D93C9 !important;
  color: whitesmoke !important;
}
#Evaluation:focus {
  background-color: #4D93C9 !important;
  color: whitesmoke !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.answered {
  opacity: 30%;
}
.btn-user-response {
  border: 2px solid black;
  border-color: #a9343a !important;
  background-color: white !important;
  color: #a9343a !important;
}
.btn-user-response:hover {
  background-color: #a9343a !important;
  color: white !important;
}
.btn-user-response:active {
  background-color: #a9343a !important;
  color: white !important;
}
.btn-open-instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
